extends: default

rules:
  line-length: disable
  comments:
    min-spaces-from-content: 1

ignore: |
  vault.yml
  *.tfstate
  *.tfstate.*
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
