# Host vars for Hashicorp Vault

#
# linux-system-roles.storage vars
#
# After increasing the VM disk size in Proxmox/Terraform, rerun playbook
storage_pools:
  - name: vg_vault
    disks:
      - sdb
    type: lvm
    grow_to_fill: true
    volumes:
      - name: lv_vault
        size: "98%" # https://github.com/linux-system-roles/storage/tree/1.19.1#:~:text=NOTE:%20The%20requested%20volume%20size%20may%20be%20reduced%20as%20necessary%20so%20the%20volume%20can%20fit%20in%20the%20available%20pool%20space%2C%20but%20only%20if%20the%20required%20reduction%20is%20not%20more%20than%202%%20of%20the%20requested%20volume%20size.
        fs_type: ext4
        mount_point: "/var/lib/vault"
        mount_options: "defaults,noatime"
        mount_user: "vault"
        mount_group: "vault"
        mount_mode: "0700"
        state: present

#
# robertdebock.bootstrap vars
#
bootstrap_become: true

#
# robertdebock.hashicorp vars
#
hashicorp_products:
  - name: vault
    type: oss
    version: "1.21.1"

#
# robertdebock.vault vars
#
vault_data_directory: "/var/lib/vault"
vault_hardening_disable_swap: true

#
# robertdebock.vault_configuration vars
#
vault_configuration_tls_directory: "/var/lib/vault/tls"
vault_configuration_ui: true
vault_configuration_log_level: "info"
vault_configuration_api_addr: "http://{{ ansible_fqdn }}:8200"
vault_configuration_cluster_addr: "http://{{ ansible_fqdn }}:8201"
vault_configuration_listeners:
  - type: "tcp"
    address: "0.0.0.0:8200"
    cluster_address: "0.0.0.0:8201"
    tls_disable: true
  - type: "unix"
    address: "/run/vault/vault.sock"
    socket_mode: "660"
    socket_user: "vault"
    socket_group: "vault"

vault_configuration_storage_raft:
  path: "/var/lib/vault/raft"
  node_id: "{{ inventory_hostname }}"

#
# robertdebock.vault_initialize vars
#
vault_initialize_addr: "http://pki-vault-prod-01.home.arpa:8200"
vault_tls_skip_verify: false
vault_initialize_show_information: true
