- name: Install PowerDNS Authoritative Server with SQLite backend
  hosts: dns-powerdns-prod-01
  vars_files:
    - ../vault.yml
  become: true
  gather_facts: true
  any_errors_fatal: true
  roles:
    - role: ded-isshin.pdns-ansible # The role https://github.com/PowerDNS/pdns-ansible is not updating
      tags: [pdns]
